---
const title = "About Us"
import BaseLayout from '../layouts/BaseLayout.astro';
---

	<BaseLayout
	title= title
	description="About page"
	current={title.toLowerCase()}
>
	<h2>{title}</h2>
	<p>
		Welcome to BenBenLaw Website, the home of all the benbenlaw mods and modpacks
		Here, you will get info about them.
	</p>
</BaseLayout>


