---
import BaseLayout from '../layouts/BaseLayout.astro'

import {SITE_TITLE} from '../consts'
import {SITE_DESCRIPTION} from '../consts'

---

<BaseLayout  title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <h2>HOME</h2>
    <hr>
    <h3>About Us</h3>
    <p>Welcome to BBL, the home of all the benbenlaw mods and modpacks</p>
</BaseLayout>
</html>
