---
import Social from "../components/Social.astro";
---

<footer>
  <span>My Social Links:</span>
  <Social platform="github" username="roboxgamer" />
  <Social platform="youtube" username="@roboxgamer52" />
</footer>
