---
const platform = "github";
const username = "roboxgamer";
---

<footer>
  <p>
    Learn more about my projects on <a
      target="_blank"
      rel="noopener noreferrer"
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
</footer>
