<nav>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>

<style>
  a {
    text-decoration: none;
    color: indigo;
    display: block;
    font-weight: bold;
    border: 2px solid transparent;
  }
  a:hover {
    border-bottom: 2px solid indigo;
  }
  nav {
    display: flex;
    gap: 10px;
  }
</style>
