---
import { getCollection } from 'astro:content';


const posts = (await getCollection('modpacks')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
	);

import BaseLayout from '../../layouts/BaseLayout.astro';
const title = "Modpacks"
---
		<BaseLayout title="title" description="Modpacks Page" current={title.toLowerCase()}>
			<h2>{title}</h2>
			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/modpacks/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul>
			</section>
		</BaseLayout>

<style>
	ul {
		list-style-type: none;
		padding: unset;
	}
	ul li {
		display: flex;
	}
	ul li :global(time) {
		flex: 0 0 130px;
		font-style: italic;
		color: #595959;
	}
	ul li a:visited {
		color: #8e32dc;
	}
</style>